@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@300;400;600&family=Inter:wght@400;500&family=Lora:wght@400;700&display=swap");
@import "tailwindcss";

html { scroll-behavior: smooth; }

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html { font-family: 'Inter', sans-serif; }

h1,h2,h3 { font-family: 'Montserrat', sans-serif; }

p,li { font-family: 'Poppins', sans-serif; }

blockquote, .bio { font-family: 'Lora', serif; }

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
