@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@300;400;600&family=Inter:wght@400;500&family=Lora:wght@400;700&display=swap");
@import "tailwindcss";

html { scroll-behavior: smooth; }

:root {
  --background: #191716;
  --foreground: #171717;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.animate-fade-in {
  animation: fade-in 0.5s ease-out forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slide-down 0.5s ease-out forwards;
}

html { font-family: 'Inter', sans-serif; }

h1,h2,h3 { font-family: 'Montserrat', sans-serif; }

p,li { font-family: 'Poppins', sans-serif; }

blockquote, .bio { font-family: 'Lora', serif; }

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191716;
    --foreground: #ededed;
  }
}

@layer utilities {
  .hover\:text-purple-haze:hover {
    --tw-text-opacity: 1;
    color: rgb(152 95 153 / var(--tw-text-opacity));
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
